@charset "utf-8";

body {
	padding: 5%;
	font-family: "Jost";
	color: #1c1c1c;
	background-color: #FCFAF2;
}

h1 {
	font-size: 500%;
	font-weight: 700;
	display: flex;
	justify-content: flex-end;
	margin-top: 0;
	margin-bottom: 0;
}

img{
    	width: 100%;
    	display: block;
    	margin-top: 2.5%;
		margin-bottom: 2.5%;
}

@media (orientation: landscape){
	.mobile-img{
		display: none;
	}
}

@media (orientation: portrait){
	.pc-img{
		display: none;
	}
}

h2 {
	font-size: 250%;
	font-weight: 700;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	margin-top: 0;
	margin-bottom: 0;
}

h3 {
	font-size: 250%;
	font-weight: 300;
	display: flex;
	justify-content: flex-end;
	margin-top: 0;
	margin-bottom: 2.5%;
}

span {
	font-weight: 700;
}

p{
	font-size: 100%;
	font-weight: 300;
}

a{
	color: #1c1c1c;
	text-decoration: none;
}

a:hover{
	color: #BDC0BA;
	text-decoration: none;
}

.container {
    width: 100%;
	display: flex;
	justify-content: space-between;
}

.links{
    width: 100%;
    display: flex;
    text-align: justify;
    }
}